.cortar{
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.contMenus{
    height:192px;
    overflow:auto; 
    margin:15px;
    margin-top: -2px;
    border: #dddddd solid 1px;
}
.gridPaign{
    border: 1px solid #ddd;
    margin-top: -6px;
}
.no-result-menu{
    display: table-cell;
    vertical-align: middle;
    height: 180px;
    text-align: center;
    width: 400px;
}
#process-general{
    position: fixed;
    background:url(../img/overlay.png);
    width: 100%;
    height: 200%;
    z-index: 999999999;
    top:0px;
    display: none;
}
#process-general .img-process{
    position: relative;
    margin: auto; 
    width: 124px;
    top:20%;
}
.move-cursor{
    cursor: move;
}
.move-cursor span:hover{
    background: #FF8000;
    color: #ffffff;
} 
.wopcion{
    min-width: 150px;
    max-width: 300px;
}
.parent_li{
    min-width: 150px;
    max-width: 420px;
}
.pd8{
    padding: 8px;
}
.accionesOpcion{
    position: absolute;right: -430px;top: -27px;width: 410px;
}
.no-access{
    border: 1px red solid;
    background: #F6CED8;
}
.si-access{
    border: 1px #00a300 solid;    
    background: #D8F6CE;
}
.scroll-form{
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
em.invalid{
   color: red;
/*     border-radius: 4px;
    font-weight: bold;
    position: absolute;
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index:9999999999 !important;
    text-align:center;*/
}
em.invalid:before{
/*    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 8px;
    position: absolute;
    top: -15px;*/
}
/* Listas Ordenadas con CSS */
.ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
 
.ol .ol{margin: 0 0 0 2em;}
/* Lista Redondeadas */        
.lista-redondeada a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #CDE0C4;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;  
}
 
.lista-redondeada a:hover{
    background: #21610B;
    color: #ffffff;
}
 
.lista-redondeada a:hover:before{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
}
 
.lista-redondeada a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #21610B;
    color: #ffffff;
    height: 3em;
    width: 3em;
    line-height: 3em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
 
/* Lista Rectangular */
.lista-rectangular a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #FCCA8F;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;  
}
 
.lista-rectangular a:hover{
    background: #FDECD0;
}  
 
.lista-rectangular a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #F60;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
 
.lista-rectangular a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;              
}
 
.lista-rectangular a:hover:after{
    left: -.5em;
    border-left-color: #F60;               
}
 
/* Lista Circular */
.lista-circular li{
    padding: 2.5em;
    border-bottom: 1px dashed #ccc;
}
 
.lista-circular h2{
    position: relative;
    margin: 0px;
    padding-left:20px;
}
 
.lista-circular p{
    margin: 0;
    padding-left:20px;
}
 
.lista-circular h2:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;   
    z-index: -1;
    left: -1.3em;
    background: #f5f5f5;
    height: 1.5em;
    width: 1.5em;
    border: .1em solid rgba(0,0,0,.05);
    text-align: center;
    font: italic bold 1em/1.5em Georgia, Serif;
    color: #ccc;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;   
}
 
.lista-circular li:hover h2:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;   
    z-index: -1;
    left: -1.3em;
    background: #FBF5E1;
    height: 1.5em;
    width: 1.5em;
    border: .1em solid rgba(0,0,0,.05);
    text-align: center;
    font: italic bold 1em/1.5em Georgia, Serif;
    color: #666;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}